@import url('imports/colors.import.less');

.accounts {
  height: 100%;
  background: @teal;
  text-align: center;

  h1 {
    margin: 0;
    color: @red;
  }

  form {
    width: 300px;
    margin: 0 auto;
  }

  input {
    width: 300px;
    margin: 15px 0;
    border: 0;
    box-shadow: none;
  }

  input[type=submit] {
    height: 45px;
    color: @lightRed;
    background: @red;
  }

  a {
    color: white;
  }
}