@import url('imports/colors.import.less');
@import url('imports/mixins.import.less');

@item_height: 60px;
@border_color: darken(@teal, 10%);
@instructor_image_radius: 100px;
@poker_chip_radius: 200px;

#user-view {
  height: 100%;
  overflow: hidden;

  .chips {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .chip {
    width: 100%;
    height: 50%;
    position: relative;

    &:last-of-type {
      border-top: 2px dashed @border_color;
    }

    .use-button {
      position: absolute;
      width: 35%;
      right: -35%;
      top: 0;
      bottom: 0;
      margin: 0;
      background: #d0483b;
    }

    .poker-chip {

      .vertical-align();
      margin: 0 auto;

      width: @poker_chip_radius;
      height: @poker_chip_radius;
      border-radius: 1000px;
      border: 6px dashed white;

      &:after {
        display: block;
        width: 100%;
        position: relative;
        top: 50%;
        .vertical-align();
        text-align: center;
        font-size: 2em;
        font-weight: bold;
      }
    }

    &:first-of-type .poker-chip {
      background: @purple;

      &:after {
        content: 'HARRY';
        color: darken(@purple, 20%);
        text-shadow: 0 -1px darken(@purple, 30%);
      }
    }

    &:last-of-type .poker-chip {
      background: @yellow;

      &:after {
        content: 'LEO';
        color: darken(@yellow, 20%);
        text-shadow: 0 -1px darken(@yellow, 30%);
      }
    }

    &.used .poker-chip {
      opacity: 0.5;
    }
  }





  img {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: @instructor_image_radius;
    height: @instructor_image_radius;
    border-radius: 100px;
    border: 4px solid white;
  }
}
