<template name="users">
  <nav>
    <div class="row">
      <div class="small-2 columns settings-button"></div>
      <div class="small-8 columns">
        <h1>Feature Chips</h1>
      </div>
      <div class="small-2 columns"></div>
    </div>
  </nav>
  <main>
    <div id="users-view" class="users">
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Chase</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip used">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">JP</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Morne</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Nathan</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Nick</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Pierre</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>
      <div class="user">
        <div class="row">
          <div class="small-8 columns name">Sophia</div>
          <div class="small-4 columns chips">
            <img src="images/harry.jpg" class="chip">
            <img src="images/leo.jpg" class="chip">
          </div>
        </div>
      </div>

    </div>
  </main>
</template>