<template name="user_detail">
  <nav>
    <div class="row">
      <div class="small-2 columns back-button"></div>
      <div class="small-8 columns">
        <h1>{{name user}}</h1>
      </div>
      <div class="small-2 columns"></div>
    </div>
  </nav>
  <div id="user-view" class="user nav-padded">
    <div class="chips">
      <div class="chip">
        <img src="/images/harry.jpg" alt="">
        <button>USE</button>
      </div>
      <div class="chip">
        <img src="/images/leo.jpg" alt="">
        <button>USE</button>
      </div>
    </div>
  </div>
</template>