<template name="profile">
  <nav>
    <div class="row">
      <!-- <div class="small-2 columns"> </div> -->
      <div class="small-6 small-offset-3 columns">
        <h1>Profile</h1>
      </div>
      <div class="small-3 columns done-button">Done</div>
    </div>
  </nav>
  <div id="profile_view" class="nav-padded">
    <h1>Enter your profile name</h1>
    <form action="#">
      <input type="search" id="profile-name" placeholder="username" value="{{username}}" maxlength="15" autofocus>
    </form>
  </div>
</template>